* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
  }
  
  /* Body Styles */
  body {
    font-family: 'Oswald', sans-serif;
    background-color: #f4f4f4;
    color: #000;
    line-height: 1.6;
  }
  
  /* Navbar Styles */
  .navbar {
    display: flex;
    justify-content: space-between;
    align-items: center;
    background: #fff;
    padding: 1rem 2rem;
    font-weight: bold;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
    position: relative; /* Allow positioning of elements like the time */
  }
  
  .nav-left {
    display: flex;
    align-items: center;
  }
  
  .nav-left a {
    text-decoration: none;
    color: #000;
    margin-right: 20px;
    font-size: 1rem;
    font-weight: 700;
  }
  
  .nav-left a:hover {
    color:  gray;
    transform: translateY(-10px);
    transition: all 0.3s ease;
    text-decoration: underline;
  }
  
  .logo {
    font-size: 2.5rem;
    font-weight: bold;
    color: #000;
    text-transform: uppercase;
    letter-spacing: 2px;
  }
  
  .nav-right {
    display: flex;
    align-items: center;
    gap: 1.5rem;
  }
  
  .nav-right .icons {
    display: flex;
    align-items: center;
    gap: 1.5rem;
  }
  
  .profile-icon, .hamburger-icon {
    width: 30px;
    height: 30px;
    cursor: pointer;
  }
  
  /* Time */
  .time {
    display: flex;
    align-items: center;
    font-size: 1.2rem;
    font-weight: bold;
    color: #333;
    margin-left: auto;
    margin-right: 1.5rem;
  }